{% extends "../base.html" %}
{% load static %}    
{% block title %}
   {{ form_name }} · VF
{% endblock title %}
{% block nav%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-end mb-4" onload="loadPage()">
   <a class="navbar-brand" href="">
   <img src="{% static "images/create_form.svg" %}" width="40" height="40" alt="Logo">
   {% block headerName %}
   <span  class="mt-2">VoteApp</span>
   {% endblock headerName %}
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <form class="form-inline my-2 my-lg-0">
         {% block headerStat %}
         <a class="navbar-brand" href="{% url "index" %}">
         <img src="{% static "images/vote.svg" %}" width="35" height="35" alt="Stats">
         Главная
         </a>
         {% endblock headerStat %}
      </form>
   </div>
</nav>
{% endblock nav %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-12">
        
        <div class="d-flex justify-content-center h3 mb-3">
                <p class="card-text" name="formName" > {{ form_name }}</p>
            </div>
        <div class="d-flex justify-content-center h3 mb-3">
                <p  class="h6" name="formName" >Окончание опроса {{ end_date }}</p>
                <p id="end_date" class="d-none" name="formName" >{{ end_date_short }}</p>
            </div>
        
    <form method="POST">
            {% csrf_token %}
    <input type="hidden" name="formName" value="{{ form_name }}" />
    {% for question in data %}
        <div class="card text-center m-2">
            <p name = "{{ question.1 }}" class="card-text m-2 h5">{{ question.1 }}</p>
            <p class="card-text">{{ question.2 }}</p>
            <div class="d-flex justify-content-center card-body">
                <div class="row">
                    <div  class="col-12">
                        <div class="input-group">
                            {% if question.4 == "sub" %}
                            <div class="input-group-prepend">
                                    <select  id="group_{{question.0}}" name="{{ question.1 }}" onchange="ChangeGroup(this);" class="custom-select mr-2" required>
                                    <option>Выберите</option>
                                    {% for answer in question.5 %}
                                        <option value="{{ answer.0 }}">{{ answer.0 }}</option>
                                    {% endfor %}   
                                    </select>    

                                    <select  id="ans_group_{{question.0}}" name="sub_{{ question.1 }}" onchange="ChangeGroupSub(this);" class="custom-select" required>
                                        
                                    {% for answer in question.5 %}
                                            {% for ans in answer.1 %}
                                                <option id="{{answer.0}}_{{ans}}" value="{{ ans }}" disabled hidden>{{ans}}</option>
                                            {% endfor %}

                                    {% endfor %}   
                                    </select>  
                            </div>
                                
                            
                            {% else %}
                                <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Выберите ответ</label>
                                </div>
                                <select name="{{ question.1 }}" class="custom-select">
                                {% for answer in question.5 %}
                                    <option value="{{ answer }}"> {{ answer }}</option>
                                {% endfor %}   
                            </select>     
                            {% endif %}
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            {% if question.1 in  ques_comms %}
            <div class="form-group mb-3 ml-5 mr-5">
                <label for="exampleFormControlTextarea1">Ваш комментарий</label>
                    <textarea name="{{ question.0 }}_comment" class="form-control" rows="3"></textarea>
            </div>
            {% endif %}
            </div>
        {% endfor %}        
        <div class="d-flex justify-content-center h3 mb-3">
            <button id="send" value="Send" type="submit" class="btn btn-secondary btn-lg m-4">Отправить</button>
        </div>
    </form>
      </div>
   </div>
</div>


<script>
    var data = new Map();
    {% for question in data %}
        {% if question.4 == "sub" %}
            {% for answer in question.5 %}                      
            data.set("{{answer.0}}", 
            [ {% for ans in answer.1 %}
                    "{{ans}}",
                {% endfor %} ]
            )
            {% endfor %}
        {%endif%}
    {%endfor%}



function ChangeGroup(slct){

    if (slct.value == "Выберите"){
        document.getElementById("send").setAttribute('disabled', 'true');
    }
    else{
        document.getElementById("send").removeAttribute('disabled');
    }
  
    if (data.get(slct.value) != undefined){
        let group_ans = data.get(slct.value);
        let all_ans = document.getElementById("ans_"+slct.id);
        let all_ans_arr = new Array();
        for (i = 0; i < all_ans.options.length; i++){
            all_ans_arr[i] = all_ans.options.item(i).id;
            document.getElementById(all_ans.options.item(i).id).setAttribute("hidden", true);
            document.getElementById(all_ans.options.item(i).id).setAttribute("disabled", true);
        }
       // alert(group_ans);
        group_ans.forEach(element => {
            let el = document.getElementById(slct.value+"_"+element);
	    if (el != null){
                el.removeAttribute("hidden");
                el.removeAttribute("disabled");
                document.getElementById("ans_"+slct.id).value = el.value;
	    }
	   // alert(el.value);}
        });
    }
    else{
        let all_ans = document.getElementById("ans_"+slct.id);
        let all_ans_arr = new Array();
        for (i = 0; i < all_ans.options.length; i++){
            all_ans_arr[i] = all_ans.options.item(i).id;
            document.getElementById(all_ans.options.item(i).id).setAttribute("hidden", true);
            document.getElementById(all_ans.options.item(i).id).setAttribute("disabled", true);
        }
    }
    
    

}

</script>


<script src="{% static 'js/sendForm.js' %}"></script>
{% endblock content %}
