{% extends "../base.html" %}
{% load static %}    
{% block nav%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-end mb-4">
   <a class="navbar-brand" href="">
   <img src="{% static "images/create_form.svg" %}" width="40" height="40" alt="Logo">
   {% block headerName %}
   <span class="mt-2">{{ form_name }}</span>
   {% endblock headerName %}
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <form class="form-inline my-2 my-lg-0">
         {% block headerStat %}
         <a class="navbar-brand" href="{% url 'index' %}">
         <img src="{% static "images/vote.svg" %}" width="35" height="35" alt="Stats">
         Анкетирование
         </a>
         <a class="navbar-brand" href="">
         <img src="{% static "images/stats.svg" %}" width="35" height="35" alt="Stats">
         Статистика
         </a> 
         {% endblock headerStat %}
      </form>
   </div>
</nav>
{% endblock nav %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-12">
         <div class="card d-flex justify-content-center text-center p-2">
         <div class="alert alert-success text-center" role="alert">
                  Форма успешно создана!
               </div>
            <div>
                  <div id="canvas"></div>
                  <p class="card-text text-center">
                    Не потеряйте ссылку! Вы можете добавить ваш логотип на QR код, сменить цвет и тип заполнения
                  </p>
                  <div>
                     <form id="qrForm" onsubmit="return false;">
                        <div class="inputContainer mb-3 d-flex justify-content-center">
                           <input style="width:21rem; overflow-x:hidden;" class="form-control" type="file" onchange="updateQrImg();" name="imageInput" id="imageInput" accept="image/*"  />
                        </div>
                        <div class="inputContainer d-flex justify-content-center mb-3">
                           <input style="width:21rem; height: 38px;" class="form-control" type="color" onchange="updateQrColor();" name="colorInput" id="colorInput" />
                        </div>
                        <div class="inputContainer d-flex justify-content-center text-center">
                           <select style="width:21rem;" class="form-control" name="typeInput" id="typeInput" onchange="updateQrType();">
                              <option value="square">Выберите вид QR</option>
                              <option value="square">Квадраты</option>
                              <option value="rounded">Круги</option>
                              <option value="dots">Точки</option>
                           </select>
                        </div>
                     </form>
                  </div>
            </div>
            <div class="card-body ">
               <p class="card-text text-center">Для прохождеия опроса перейдите по ссылке
                  <a id="link" href="{{slug}}">{{slug}}</a>
               </p>
               <a style="width: 18rem;" href="" class="btn btn-primary">Назад</a>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript" src="{% static 'js/qrcode.js' %}"></script>
<script src="{% static 'js/create_form.js' %}"
{% endblock content %}